.about-low-area {
  // left content
  .about-caption {
    text-align: justify;
    & p {
      font-size: 16px;
      color: #64676c;
      line-height: 1.6;
      margin-bottom: 35px;
      padding-right: 50px;
      @media #{$lg} {
        padding-right: 20px;
      }
      @media #{$md} {
        padding-right: 0px;
      }
      @media #{$sm} {
        padding-right: 0px;
      }
      @media #{$xs} {
        padding-right: 0px;
      }
    }
  }
  // Right img
  .about-img {
    .about-font-img {
      position: absolute;
      z-index: 1;
      right: 0px;
      top: 0px;
      @media #{$md} {
        position: unset;
      }
      @media #{$sm} {
        position: unset;
      }
      @media #{$xs} {
        position: unset;
      }
      & img {
        @media #{$xs} {
          width: 100%;
        }
      }
      & img {
        width: 36em;
        height: 23em;
        object-fit: cover;
        @media #{$xs} {
          width: 22.5em;
          height: 14em;
        }
        @media #{$md} {
          width: 43em;
          height: 30em;
        }
        @media #{$lg} {
          width: 30em;
          height: 20em;
        }
      }
    }
  }
}

.about-caption {
  @media #{$xs} {
    margin-bottom: 35px;
  }
}

.bg-height.pb-160 {
  @media #{$xs} {
    padding-bottom: 100px;
  }
}
