.slider-height {
  .banner-content-icon-hand {
    position: absolute;
    color: #fff;
    font-size: 2.5em;
    left: 12%;
    bottom: -12%;
    transform: translateX(-50%);
    animation: iconHand 1s infinite alternate ease-in-out, iconHandColor 1s infinite alternate ease-in-out;
  }
  @keyframes iconHand {
    100% {
      left: 18%;
      font-size: 2.8em;
    }
  }

  @keyframes iconHandColor {
    50% {
     color: $white;
    }
    100% {
      color: $theme-color;
    }
  }
  @media #{$lg} {
    .banner-video {
      height: 450px;
    }
    .banner-content-caption h1 {
      font-size: 33px;
    }
  }
  @media #{$md} {
    .banner-video {
      height: 350px;
    }
    .banner-content-caption h1 {
      font-size: 32px;
    }
    .banner-content-btn {
      display: none;
    }
  }
  @media #{$sm} {
    .banner-video {
      height: 300px;
    }
    .banner-content-caption h1 {
      font-size: 31px;
    }
    .banner-content-btn {
      display: none;
    }
  }
  @media #{$xs} {
    .banner-video {
      height: 250px;
    }
    .banner-content-caption h1 {
      font-size: 30px;
    }
    .banner-content-btn {
      display: none;
    }
  }
}

.slider-height2 {
  background-image: url(../img/hero/hero2.jpg);
  min-height: 460px;
  background-repeat: no-repeat;
  // background-position: center center;
  background-size: cover;
  @media #{$md} {
    min-height: 350px;
  }
  @media #{$sm} {
    min-height: 260px;
  }
  @media #{$xs} {
    min-height: 260px;
  }
}

.banner {
  width: 100%;
  position: relative;
  &-video {
    width: 100%;
    height: 800px;
    object-fit: cover;
  }
  &-content {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    &-caption h1 {
      color: $white;
      font-size: 90px;
    }
    &-caption span {
      color: $theme-color;
    }
  }
}
